      <div class="fold-group" id="aspectFold">
        <div class="fold-header" data-folded="true">
          <span class="fold-label">画面比例</span>
          <span class="fold-current" id="aspectCurrent">16:9</span>
          <span class="fold-toggle"></span>
        </div>
        <div class="fold-body">
          <span class="seg on" data-value="16:9">16:9</span><span class="seg" data-value="21:9">21:9</span><span class="seg" data-value="4:3">4:3</span><span class="seg" data-value="1:1">1:1</span><span class="seg" data-value="3:4">3:4</span><span class="seg" data-value="9:16">9:16</span>
        </div>
      </div>
